.btn {
    display: inline-block;
    border-radius: 10px !important;
    padding: 9px 17px !important;
    text-align: center;
    transition: all 0.2s;
    letter-spacing: 0.045em;
    & span {
        font-family: $TTNormsMedium;
    }
    &:hover {
        box-shadow: 0px 4px 8px rgba(239, 111, 46, 0.25) !important;
    }
    &:active {
        opacity: 0.9;
    }
    &:focus {
        box-shadow: none;
    }
    &.default {
        background-color: $orange;
        color: $white !important;
    }
    &.contour {
        border: 1px solid $orange;
        background-color: $white;
        color: $orange !important;
    }
}