.btn {
    display: inline-block;
    border-radius: 10px;
    padding: 11px 75px;
    text-align: center;
    transition: all 0.2s;
    &.default {
        background-color: $orange;
        color: $white;
        &:hover {
            box-shadow: 0px 4px 8px rgba(239, 111, 46, 0.25);
        }
    }
    &.contour {
        border: 1px solid $orange;
        background-color: $white;
        color: $orange;
        &:hover {
            box-shadow: 0px 4px 8px rgba(239, 111, 46, 0.25);
        }
    }
}