@font-face {
    font-family: Montserrat-Bold;
    font-display: swap;
    src: 
        url('/assets/fonts/Montserrat-Bold.woff') format('woff'), 
        url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'), 
        url('/assets/fonts/Montserrat-Bold.eot') format('eot'), 
        url('/assets/fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Montserrat-Medium;
    font-display: swap;
    src: 
        url('/assets/fonts/Montserrat-Medium.woff') format("woff"), 
        url('/assets/fonts/Montserrat-Medium.woff2') format("woff2"), 
        url('/assets/fonts/Montserrat-Medium.eot') format("eot"), 
        url('/assets/fonts/Montserrat-Medium.ttf') format("ttf");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Montserrat-Regular;
    font-display: swap;
    src: 
        url('/assets/fonts/Montserrat-Regular.woff') format("woff"), 
        url('/assets/fonts/Montserrat-Regular.woff2') format("woff2"), 
        url('/assets/fonts/Montserrat-Regular.eot') format("eot"), 
        url('/assets/fonts/Montserrat-Regular.ttf') format("ttf");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: PragmaticaBlack;
    font-display: swap;
    src: 
        url('/assets/fonts/PragmaticaBlack.woff') format("woff"), 
        url('/assets/fonts/PragmaticaBlack.woff2') format("woff2"), 
        url('/assets/fonts/PragmaticaBlack.eot') format("eot"), 
        url('/assets/fonts/PragmaticaBlack.ttf') format("ttf");
    font-weight: 400;
    font-style: normal
}