body, html {
    font-size: 16px;
    line-height: 22px;
    font-family: $TTNormsRegular;
    color: $grey-2;
    background-color: $bg;
    transition: all 0.2s;
}
.stub {
    &-breadcrumb {
        height: 18px;
        width: 125px;
        background-color: $grey-6;
    }
    &-title {
        height: 46px;
        width: 150px;
        background-color: $grey-6;
    }
}