.link {
    text-decoration: none;
    color: $grey-2;
    &.orange {
        color: $orange;
    }
}


.file__link {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 24px 14px 24px;
    background: $bg;
    border-radius: 5px;
    margin-bottom: 16px;
    text-decoration: none;
    color: transparentize(#272E36, 0.2);
    &:last-child {
        margin-bottom: 0;
    }
}