$count: 10
$iterator: 8


@for $i from 1 through $count
    .mt-#{$i * $iterator} 
        margin-top: $i * $iterator + px
    .mr-#{$i * $iterator} 
        margin-right: $i * $iterator + px
    .mb-#{$i * $iterator} 
        margin-bottom: $i * $iterator + px
    .ml-#{$i * $iterator} 
        margin-left: $i * $iterator + px

    .pt-#{$i * $iterator} 
        padding-top: $i * $iterator + px
    .pr-#{$i * $iterator} 
        padding-right: $i * $iterator + px
    .pb-#{$i * $iterator} 
        padding-bottom: $i * $iterator + px
    .pl-#{$i * $iterator} 
        padding-left: $i * $iterator + px
