.p1 {
    font-size: 20px;
    line-height: 24px;
}
.p2 {
    font-size: 16px;
    line-height: 160%;
}
.p3 {
    font-size: 15px;
    line-height: 132%;
}
.p4 {
    font-size: 14px;
    line-height: 140%;
}
.p5 {
    font-size: 12px;
    line-height: 140%;
}

.weight {
    &-noraml {
        font-weight: normal;
    }
    &-500 {
        font-weight: 500;
    }
    &-700 {
        font-weight: 700;
    }
    &-300 {
        font-weight: 300;
    }
}