.text{
    &-s{
        font-size: calc(8px + 2 * (100vw / 1140)) !important;
    }
    &-m{
        font-size: calc(10px + 2 * (100vw / 1140)) !important;
    }
    &-l{
        font-size: calc(12px + 2 * (100vw / 1140)) !important;
    }
    &-xl{
        font-size: calc(14px + 2 * (100vw / 1140)) !important;
    }
    &-xxl{
        font-size: calc(16px + 2 * (100vw / 1140)) !important;
    }
    &-gray{
        color: $gray !important;
    }
    &-bold{
        font-family: $Bold;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;
}