.title{
    &-h1{
        font-size: calc(18px + 32 * (100vw / 1140)) !important;
        font-weight: bold !important;
    }
    &-h2{
        
    }
    &-h3{
        font-size: calc(20px + 22 * (100vw / 1140)) !important;
        font-weight: bold !important;
    }
    &-h4{
        font-size: calc(18px + 16 * (100vw / 1140)) !important;
        font-weight: bold !important;
    }
    &-h5{
        
    }
}