// colors
$black: #131313;
$white: #FFFFFF;
$orange: #ff3500;
$gray: #94969d;
$light-gray: #f8f8f8;

// fonts
$Bold: 'Montserrat-Bold';
$Medium: 'Montserrat-Medium';
$Regular: 'Montserrat-Regular';
$Black: 'PragmaticaBlack';