// colors
$black: #393F4C;
$white: #FFFFFF;

// grey
$grey-1: #2D323D;
$grey-2: #494C52;
$grey-3: #85878E;
$grey-6: #F2F2F2;

$blue: #EEF5F5;
$bg: #FAFAFA;
$orange: #EF6F2E;

// font-family
$TTNormsBlack: 'TTNorms-Black';
$TTNormsBold: 'TTNorms-Bold';
$TTNormsMedium: 'TTNorms-Medium';
$TTNormsRegular: 'TTNorms-Regular';
$TTNormsLight: 'TTNorms-Light';

$Ubuntu: 'Ubuntu';
$UbuntuBold: 'Ubuntu-Bold';
$UbuntuLight: 'Ubuntu-Light';
$UbuntuMedium: 'Ubuntu-Medium';