// colors
$black: #393F4C;
$white: #FFFFFF;

// grey
$grey-1: #2D323D;
$grey-2: #494C52;
$grey-3: #85878E;
$grey-6: #F2F2F2;

$blue: #EEF5F5;
$bg: #FAFAFA;
$orange: #EF6F2E;

// font-family
$Bold: 'Montserrat-Bold';
$Medium: 'Montserrat-Medium';
$Regular: 'Montserrat-Regular';
$Black: 'PragmaticaBlack';